extends _includes/layouts/main.pug

block content
  h1 Über diese Seite

  p 
  | Diese Seite ist mit Hilfe von 
  a(href="https://www.11ty.dev/") 11ty
  |  erstellt worden. Blog-Artikel und so weiter pflege ich als Markdown ein.
  | Für alle anderen Seiten nutze ich die Templating-Sprache 
  a(href="https://pugjs.org/api/getting-started.html") Pug
  | . Diese bringt unter anderem den "Vorteil", dass ich ab und an ziemlich lustige Google-Such-Ergebnisse bekomme. 
  | Ich deploye diese Seite über 
  a(href="https://www.netlify.com/") Netlify
  | . Und sie wird immer neu gebaut, wenn ich etwas in den master-Branch auf Github pushe.

  p
  | Für die sozialen Netzwerke (Twitter, Instagram, Youtube sowie RSS-Feed) verwende ich im Footer Icons von Flaticon, hier der korrekte Hinweis:

  div
    | Icons made by 
    a(href="https://icon54.com/",title="Pixel perfect") Pixel perfect 
    | from 
    a(href="https://www.flaticon.com/",title="Flaticon") www.flaticon.com
