extends _includes/layouts/main.pug

block content
  h1 Über mich

  p Ich bin Lisa, arbeite als Software-Entwicklerin bei INNOQ und möchte Menschen in der IT dazu ermutigen, sich an Sketchnotes zu versuchen.

  img(src="/img/lisa-moritz-ava-2020-02.jpg",width="200px")

  p In meinem Alltag arbeite ich sowohl im Frontend als auch im Backend und interessiere mich sehr für Themen, die Softwarearchitektur betreffen.

  p Seit Anfang Juli erstelle ich ungefähr einmal in der Woche eine Sketchnote für Eberhard Wolffs Format 
    a(href="https://software-architektur.tv") SoftwareArchitektur im Stream
    | . Ich habe häufig Feedback bekommen wie "Das könnte ich nie" oder "Da muss man viel Talent für haben".
    | Ich glaube, dass jeder Sketchnotes kann und dass man dafür kein spezielles Talent benötigt.

  p Mein Lieblings-HTTP-Statuscode ist 418, weswegen ich gerne eine kleine Teekanne als Logo verwende. Und ich versuche dies auch durch meine Nutzernamen in den sozialen Medien auszudrücken.

  p Hier findet ihr mich in den sozialen Medien:
    ul
      li 
        a(href="https://twitter.com/teapot4181") Mein Twitter-Profil
      li
        a(href="https://www.instagram.com/418_teapot") Mein Instagram-Profil
      li
        a(href="https://www.youtube.com/channel/UCuZs1YPHHn8PpSiZsPKbtLA") Mein Youtube-Kanal

