extends _includes/layouts/main.pug

block content
    h1 Sketchnotes in der IT 

    small Abstrakte Themen mit Leichtigkeit visualisieren

    img(src="/img/cover.png" alt="Cover des Buchs 'Sketchnotes in der IT'", width="300px")   

    h2 Praktische Einführung mit Tipps, Tricks und Symbolen 

    ul
        li Schneller, praxisorientierter Einstieg in Sketchnotes – auch für künstlerisch Unbegabte
        li Umfangreiche Symbolbibliothek für abstrakte Begriffe aus der IT
        li  Praktische Tipps für den Einsatz von Sketchnotes in der IT

    p Im IT-Berufsalltag sammeln sich unzählige Notizen – zu Vorträgen, Meetings, Aufzeichnungen zu komplexen Aufgaben … 
    | Häufig sind sie hässlich, lang, unleserlich – und landen schnell im Altpapier.
    | Sketchnotes dagegen sehen nicht nur gut aus, sie helfen auch dabei, sich an die wichtigsten Dinge zu erinnern, und erfreuen Kolleginnen und Kollegen.

    p Dieses Buch gibt eine praktische Einführung in die Welt der Sketchnotes.
    | Schon auf den ersten Seiten erstellst du deine erste Sketchnote – unabhängig von Vorwissen oder Talent.
    | Nach einem Grundlagenkapitel, das Hilfen für den Einstieg bietet, zeigt die Softwareentwicklerin Lisa-Maria Moritz, in welchen Bereichen deines Arbeitsalltags in der IT du Sketchnotes einsetzen kannst.
    | Um dabei die passende Visualisierung zu finden, hat sie eine umfangreiche Bibliothek mit zahlreichen Symbolideen zu abstrakten Begriffen der IT zusammengestellt, deren Erstellung sie in Schritt-für-Schritt-Anleitungen zeigt.

    p 
        a(href="https://dpunkt.de/produkt/sketchnotes-in-der-it/") Hier findest du das Buch beim dpunkt-Verlag.

    p Falls du dir noch nicht sicher bist, ob das Buch das Richtige für dich ist, hier eine Infografik zum Buch:
        img(src="/img/fuer_wen_ist_das_buch.png", alt="Sketchnote, die zeigt, für wen das Buch geeignet ist", style="background-color: white;", width="600px")

