extends _includes/layouts/main.pug

block content
  h1 Willkommen

  p Herzlich Willkommen auf meiner Webseite. Ich möchte mich hier dem Thema Sketchnotes widmen und dir mit Tipps und Tricks zur Seite stehen.

  p Im Bereich 
    a(href="/blog") Blog
    |  findest du Beiträge zu verschiedenen Themen rund um Sketchnotes in der IT.

  p Im Bereich 
    a(href="/sketchnotes") Sketchnotes
    |  findest du von mir angefertigte Sketchnotes. Auch die, die für 
    a(href="https://software-architektur.tv") SoftwareArchitektur im Stream
    |  entstanden sind.

  p Im Bereich 
    a(href="/about") Über mich
    |  erfährst du, wer ich bin.

