:root {
    --spacer-xs: 0.667rem;
    --spacer-sm: 1rem;
    --spacer-md: 1.5rem;
    --spacer-base: 2.25rem;
    --spacer-lg: 3rem;
    --spacer-xl: 3.875rem;

    --carribbean-green: #55cdaf;
    --fire-opal: #ee6352;
    --eerie-black: #191919;
    --cadet: #5d737e;
    --snow: #fff2f1;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--snow);
    color: var(--eerie-black);
    line-height: 1.5rem;
}

h1 {
    line-height: 2.5rem;
}

a {
    color: var(--fire-opal);
    text-decoration: none;
    display: inline-block;
}

a:not(.item__link):not(.navbar__item--image):not(.navbar__item):after {
    display: block;
    content: '';
    border-bottom: 2px solid var(--fire-opal);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

a:not(.item__link):not(.navbar__item--image):not(.navbar__item):hover:after {
    transform: scaleX(1);
}

ul {
    list-style: none;
}

li:not(.collection-list__item)::before {
    content: '• ';
    color: var(--fire-opal);
}

.layout {
    display: grid;
    grid-template-areas: 'navbar' 'content' 'footer';
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.navigation-bar {
    grid-area: navbar;
    background-color: var(--carribbean-green);
    border-bottom: 2px solid var(--cadet);
}

.navbar {
    padding: var(--spacer-base);
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacer-sm);
}

.navbar__item {
    color: var(--eerie-black);
    padding: var(--spacer-sm);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    border: 2px solid transparent;
    align-self: center;
}

.navbar__item:hover {
    background-color: var(--snow);
    border: 2px solid var(--cadet);
    opacity: 0.8;
    transition: all 500ms ease;
}

.navbar > a > img {
    max-height: 4rem;
    padding: 0;
    margin: 0;
}

.content {
    grid-area: content;
    padding: var(--spacer-xl) var(--spacer-xs);
    max-width: 100ch;
    margin: 0 auto;
}

.content img {
    display: block;
    margin: var(--spacer-md) auto;
    padding: 0;
    max-width: 100%;
    border-radius: 10px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.content img:not(.item__image) {
    border-left: 10px solid var(--fire-opal);
    border-right: 10px solid var(--fire-opal);
}

.collection-list {
    list-style: none;
    display: grid;
    gap: var(--spacer-lg);
    grid-template-columns: repeat(auto-fill, minmax(35ch, 1fr));
    padding: 0;
    margin: var(--spacer-base) 0;
}

.collection-list__item {
    border-left: 10px solid var(--fire-opal);
    border-right: 10px solid var(--fire-opal);
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    border-radius: 10px;
    padding: var(--spacer-sm);
    background-color: white;
}

.item__link {
    text-decoration: none;
    color: inherit;
}

.item__headline {
    margin-top: var(--spacer-md);
}

.item__how_to {
    color: var(--fire-opal);
    margin-bottom: -1rem;
}

.item__date {
    color: var(--cadet);
}

.item__episode {
    float: right;
    color: var(--cadet);
}

.item__guest {
    color: var(--fire-opal);
    font-weight: 500;
}

.item__image {
    border: 1px lightgray solid;
}

.collection-list__item:hover {
    background-color: var(--fire-opal);
    transition: all 500ms ease;
}

.collection-list__item:hover .item__date {
    color: var(--snow);
    transition: all 500ms ease;
}

.collection-list__item:hover .item__guest {
    color: var(--snow);
    transition: all 500ms ease;
}

.collection-list__item:hover .item__how_to {
    color: var(--snow);
    transition: all 500ms ease;
}

.collection-list__item:hover .item__episode {
    color: var(--snow);
    transition: all 500ms ease;
}

.blog-title {
    border-left: 10px solid var(--fire-opal);
    border-radius: 10px;
    padding: var(--spacer-md);
}

.blog-subtitle {
    color: var(--fire-opal);
    font-size: smaller;
}

.blog-episode {
    float: right;
    color: var(--cadet);
}

.iframe-container {
    max-width: 100ch;
    margin: 0 auto;
}

.iframe-container iframe {
    width: 100%;
}

footer {
    grid-area: footer;
    background-color: var(--carribbean-green);
    border-top: 2px solid var(--cadet);
}

.navbar--footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
}

.footer__right {
    display: flex;
    gap: var(--spacer-base);
}

.footer__icon {
    width: 2rem;
    transition: all 500ms ease;
}

.footer__icon:hover {
    transform: scale(2);
    transition: all 500ms ease;
}
