<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Sketchnotes in der IT
    link(rel="stylesheet" href="css/index.css")
  body.layout
    header.navigation-bar
      nav.navbar.navbar--header
        a.navbar__item(href="/") Home
        a.navbar__item(href="/blog") Blog
        a.navbar__item(href="/sketchnotes") Sketchnotes
        a.navbar__item(href="/about") Über mich
    
    div.content
      block content

    footer
      nav.navbar.navbar--footer
        a.navbar__item(href="/impressum") Impressum
