<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    if !title
      title Sketchnotes in der IT
    link(rel="stylesheet" href="/style-v2.css")
    
    //- primary meta tags
    if !title
      meta(name="title",content="Sketchnotes in der IT")
      meta(name="description",content="Eine Seite über Sketchnotes in der IT")
    
    //- Open Graph / Facebook
    meta(property="og:type",content="website")
    meta(property="og:url",content="www.sketchnotes.tech" + page.url)
    
    //- Twitter
    if !title
      meta(property="twitter:card",content="summary")
      meta(property="twitter:url",content="www.sketchnotes.tech" + page.url)
      meta(property="twitter:title",content="Sketchnotes in der IT")
      meta(property="twitter:description",content="Eine Seite über Sketchnotes in der IT")
    block meta

  body.layout
    header.navigation-bar
      nav.navbar.navbar
        a(href="/")
          img(src="/img/teapot.PNG")
        a.navbar__item(href="/blog") Blog
        a.navbar__item(href="/sketchnotes") Sketchnotes
        a.navbar__item(href="/inktechtober2020") inktechtober 2020
        a.navbar__item(href="/about") Über mich
    
    div.content
      block content

    footer
      nav.navbar.navbar--footer
        a.navbar__item(href="/impressum") Impressum
